
// set your custom colors here
$siteBgColorCustom: #fffbfa;
$borderColorCustom: #5e6354;
$navLinkColorCustom: #46362f; // 141114
$footerTextColorCustom: #5e6354;

$headlineColorCustom: #425C19; // 32672f

$headingColorCustom: #4b4b44;
$textColorCustom: #000000;
$bodyLinkColorCustom: #285b1f; // C5BF56 2d6105 48713d 3d713f 38660a

$sidebarBgColorCustom: #f0f0db; // eee8d2 CDCA94 ded8b2
$sidebarTextColorCustom: #181816;
$sidebarLinkColorCustom: #4b4b44;

$buttonTextColorCustom: #ffffff;
$buttonHoverTextColorCustom: #ffffff;
$buttonBgColorCustom: #53433C;
$buttonHoverBgColorCustom: #46362f;

