
// set your custom colors here
$siteBgColorCustom: #fffbfa;
$borderColorCustom: #5e6354;
$navLinkColorCustom: #46362f; // 141114
$footerTextColorCustom: #5e6354;

$headlineColorCustom: #354f0c;

$headingColorCustom: #4b4b44;
$textColorCustom: #000000;
$bodyLinkColorCustom: #2a560b; // C5BF56 2d6105 48713d 3d713f 38660a

$sidebarBgColorCustom: #f0f0db;
$sidebarTextColorCustom: #000000;
$sidebarLinkColorCustom: #4b4b44;

$buttonTextColorCustom: #ffffff;
$buttonHoverTextColorCustom: #ffffff;
$buttonBgColorCustom: #53433C;
$buttonHoverBgColorCustom: #46362f;

